player-connection-mode=Connect
player-connection-guid=345781211
player-connection-debug=1
player-connection-project-name=OpenPong
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.26
profiler-enable=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a4579a6dcb564dec955229055589ed0e
